*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 60%;
  height: 450px;
  background-color: aqua;
  margin: 70px;
  padding: 30px;
  border-radius: 8px;
}
.form2{
  width: 60%;
  height: 450px;
  background-color: aqua;
  margin: 70px;
  padding: 30px;
  border-radius: 8px;
}